<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>seams</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> 
  <link rel="stylesheet" href="/css/seams.css" /> 


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="/admin/home">SEaMS</a>
        </div>

      </div><!-- /.container-fluid -->
    </nav>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
              1 of 3 - Upload data
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
              <p>You have no data in your database. Please upload a comma-separated file (csv) or a tab-separated file containing the
                 the data you wish to store and search</p>
            
              <form id="uploadform" class="form" action="/upload" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label for="fle">File to upload</label>
                  <input id="file" name="file" type="file" />
                  &nbsp;<span id="fileuploadprogress"></span>
                </div>
              </form>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
              2 of 3 - Schema
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
              <h3>File upload complete</h3>
              <p>Please review the fields we have found in the uploaded file. Choose the data types of each field; this will
                   transform numbers and booleans to be stored as such in the database. </p>
              <p> You can also choose for a field to be  faceted or not by checking the fields facet tick box. A faceted 
                   field will be counted in the result set e.g. if 'colour' was faceted, then the search results 
                   could indicate that there are 10 red items, 4 blue items and 1 green item. </p>
              <p> When you have made your decision, click the 'Import' button to begin the import process.</p>
              <div id="schemacontent"></div>
              <p>
                <button id="importbutton" type="submit" class="btn btn-success btn-lg" onclick="return importClicked()">Import</button>
                <div id="importstatus"></div>
              </p>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
             Search
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <h5 id="importstatus2"></h5>
            <p>Your data was imported successfully. Please use the /search endpoint to query your database
              or try out the interactive search tool</p>
             <p><a class="btn btn-primary btn-lg" href="/admin/search" role="button">Search</a></p>
          </div>
        </div>
      </div>
    </div>


    
  </div> <!-- container -->


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/js/seams.js"></script>
  
</body>
</html>