<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>seams</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" /> 
  <link rel="stylesheet" href="/css/seams.css" /> 


  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">

    <div class="jumbotron">
      <h1>SEaMS</h1>
      <h2>Search Engine as-a Micro Service</h2>
      <p>&nbsp;</p>
      <p><a class="btn btn-primary btn-lg" href="/admin/home" role="button">Login</a></p>
      
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <div class="alert alert-warning">
          <h2><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> UPLOAD</h2>
          <p>Upload a CSV or TSV file and import it into the IBM Cloudant, NoSQL database</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-info">
          <h2><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span> INDEX</h2>
          <p>All the fields are indexed; simply choose which to facet in the search results</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="alert alert-success">
          <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span> SEARCH</h2>
          <p>Access the SEaMS RESTful API to build a user-interface into your application</p>
        </div>
      </div>
    </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/js/seams.js"></script>
  
  
</body>
</html>