<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>IBM Cloud Data Services | Simple Search Service</title>

  <link href="master.css" rel="stylesheet">
  <link href="seams.css" rel="stylesheet">
  <link href="jquery.tagsinput.css" rel="stylesheet">

  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.min.js"></script>
  <script src="/js/socket.min.js"></script>
  <script src="/js/jquery.form.js"></script>
  <script src="/js/jquery.tagsinput.js"></script>
  <script src="/js/seams.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    //var socket = io();
  </script>
</head>
<body ng-app="seamsApp" class="capped-layout">
<!-- start header -->
  <header class="capped-layout_cap app-banner">
    <a class="app-banner_title" rel="home" href="https://developer.ibm.com/clouddataservices">IBM Cloud Data Services // Dev</a>
  </header>
<!-- end header -->

<!-- start content -->
  <div ng-controller="seamsController" class="capped-layout_body bookend-layout">

<!-- start sidebar -->
      <nav class="bookend-layout_bookend theme_light bg_white">
        <ul class="tree-nav">
          <li class="tree-nav_item">
            <a ng-class="{'current': !selectedView || selectedView === 'about'}" class="tree-nav_link" href="#/about">Simple Search Service</a>
            <ul class="tree-nav">
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'get', 'done': currentStatus == 'imported'}"  class="tree-nav_link" href="#/get">Get data</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'upload', 'done': currentStatus == 'imported'}" class="tree-nav_link" href="#/upload">Upload data</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'import', 'disabled': !currentStatus || currentStatus == 'new', 'done': currentStatus == 'imported'}" class="tree-nav_link" href="#/import">Create Index</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'search', 'disabled': currentStatus != 'imported'}" class="tree-nav_link" href="#/search">Search</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'api', 'disabled': currentStatus != 'imported'}" class="tree-nav_link" href="#/api">Content API</a>
              </li>

              <hr />

              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'cms', 'disabled': currentStatus != 'imported'}" class="tree-nav_link" href="#/cms">Edit Data</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'services', 'disabled': !discovery}" class="tree-nav_link" href="#/services">Services</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'settings', 'disabled': currentStatus != 'imported'}" class="tree-nav_link" href="#/settings">Settings</a>
              </li>
              <li class="tree-nav_item">
                <a ng-class="{'current': selectedView === 'ingredients'}" class="tree-nav_link" href="#/ingredients">Ingredients</a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
<!-- end sidebar -->

<!-- start main -->
      <div ng-view class="bookend-layout_body theme_dark scrollable-y ">

      </div>
<!-- end main -->

    </div>
  </div>
<!-- end content -->

</body>
</html>