body { margin-top:60px; padding-bottom:60px}

#schemacontent { 
}

#facets, #documents, #serps { 
  margin-top:20px;
  display: none;
}

#searchheadings {
  display: none;  
}

#searchtime {
  margin-left:25px;
  color:#aaa;
}

#fileuploadprogress {
  color:#aaa;
}

.alert-special {
  overflow: hidden;
}