<section class="layout_section">

<h1 class="type_heading" id="toc_0"><mark class="type_mark">Welcome to the Simple Search Service!</mark></h1>

<p class="type_copy">Buckle up, you&#39;re about to build an API that can deliver a fully functional, faceted search engine and content discovery service, just by clicking a few buttons. </p>

<p class="type_copy">Excited? So are we.</p>

<p class="type_copy">Let&#39;s get into it. We&#39;ll do all the heavy lifting for you. Just follow the instructions. But don&#39;t worry, this walkthrough is no wizard. If you&#39;re a developer and you want to dig in beyond what you see here, we&#39;ve got you covered: </p>

<ul class="list_unordered compact">
<li><a class="type_link" href="https://developer.ibm.com/clouddataservices/simple-search-service">The tutorial spells out how we built it</a></li>
<li><a class="type_link" href="https://github.com/ibm-cds-labs/simple-search-service">All of the code is on Github</a></li>
</ul>

<p class="type_copy">Feel free to fork the code and extend the app. If you have feedback, and want to contribute to master, <a class="type_link" href="https://github.com/ibm-cds-labs/simple-search-service/issues">check out our backlog</a>.</p>

<hr>

<h2 class="type_heading" id="toc_1"><mark class="type_mark">Is this really a service?</mark></h2>

<p class="type_copy">Yes.</p>

<p class="type_copy">We use the Simple Search Service to power the <a class="type_link" href="https://developer.ibm.com/clouddataservices/how-tos/#!&amp;filter=%5B%7B%22key%22%3A%22technologies%22%2C%22value%22%3A%22Cloudant%22%7D%5D">search engine in our developer center</a>, and it&#39;s also the API that powers <a class="type_link" href="https://console.ng.bluemix.net/data/discovery/fullservice/cloudant-nosql-db/resources">content discovery in Bluemix</a>. </p>

<p class="type_copy">If you followed those links, you probably noticed that the content is identical. That&#39;s because the content is served from the same Cloudant database, via the same API. The Preview Search and Preview API pages of this app will show you how we used this service to do just that. </p>

<div class="button_group">
	<a href="#/get" class="button_primary">Get Started</a>
</div>

</section>