<h1>
  Preview API
</h1>

<p>
  Now that you've seen how search works, now take a look at extending the search engine into a content discovery service. Here, the interface uses it's own context to query the search engine.
</p>

<div class="api-examples-wrapper" ng-show="currentStatus == 'imported' && dbschema">
  <div class="api-examples">
    <div api-example apiExampleAction="apiExampleFacetSearch" apiExampleTitle="Faceted Search" apiExampleTemplate="apiexamplefacet.html"></div>
    <div api-example apiExampleAction="apiExampleTextSearch" apiExampleTitle="Text Search"></div>
    <div api-example apiExampleAction="apiExampleLogicSearch" apiExampleTitle="Logic Search"></div>
  </div>
</div>

<p>
  <button type="button" class="btn btn-primary" ng-click="goToNextPage('settings')"> Continue </button>
</p>