<h1>
  Preview Content API
</h1>

<p>
  Now that you've seen how the Simple Search Service can power a search engine, now see how it can power content discovery. Here, the interface uses context in the page to query the search engine, and diplay URLs.
</p>

<div class="api-examples-wrapper" ng-show="currentStatus == 'imported' && dbschema">
  <div class="api-examples">
    <div api-example apiExampleAction="apiExampleFacetSearch" apiExampleTitle="Faceted Search" apiExampleTemplate="apiexamplefacet.html"></div>
<!--
    <div api-example apiExampleAction="apiExampleTextSearch" apiExampleTitle="Text Search"></div>
    <div api-example apiExampleAction="apiExampleLogicSearch" apiExampleTitle="Logic Search"></div>
-->
  </div>
</div>

<p>
  Of course, in your application, you may not want to present the results as a table. No problem, you can use Javascript and HTML to present the results however you see fit. <a href="https://console.ng.bluemix.net/data/discovery/fullservice/cloudant-nosql-db/resources" target="_blank">See the Resources tab in the Bluemix catalog</a> for an example.
</p>

<p>
  <button type="button" class="btn btn-primary" ng-click="goToNextPage('settings')"> Continue </button>
</p>