<div class="well collapse in api-search-example" id="{{apiExampleId}}">
  <span ng-show="!apiExampleDocs" class="glyphicon glyphicon-refresh glyphicon-spinner"></span>
  <div ng-show="apiExampleDocs">
    <h2>
      Example with Dynamic Content
    </h2>
    <p class="api-search-example-copy" ng-show="apiExampleDocs">
        Here, in this example, let's pretend the content in this content area is all about when the <strong>{{apiExampleDocs.searchparams.field}}</strong> is/are <strong>{{apiExampleDocs.searchparams.value}}</strong>. Good news, you indexed your data with <code>{{apiExampleDocs.searchparams.field}}</code> as a facet, so we can use the Simple Search Service to retrieve exactly the results you want, and then use Javascript to write the JSON returned by the API into the page.
    </p>

    <div class="api-search-example-results">
      <div class="api-search-example-results-table">
        <table class="table table-striped">
          <tr>
            <th ng-repeat="docfield in apiExampleDocs.fields">{{docfield.name}}</th>
          </tr>
          <tr ng-repeat="row in apiExampleDocs.data.rows">
            <td ng-repeat="docfield in apiExampleDocs.fields">{{row[docfield.name] == "null" ? '' : row[docfield.name] | ellipsize:25}}</td>
          </tr>
        </table>
      </div>
      <div class="api-search-example-results-summary">
        <div ng-show="apiExampleDocs.data.total_rows >= 0">
          <span ng-class="{'api-summary-message':message}">{{message ? message : 'Showing ' + apiExampleDocs.data.rows.length + ' of ' + apiExampleDocs.data.total_rows}}</span>
          <a ng-show="apiExampleDocs" href="{{apiExampleDocs.rest_uri}}" target="_blank">View Raw JSON</a>
        </div>
      </div>
    </div>
  </div>

<!--
  <div class="row api-search-example-info">
      <div class="col-md-10">
          <strong>REST URL: </strong>
          <a ng-show="apiExampleDocs" href="{{apiExampleDocs.rest_uri | truncateUrl}}" target="_blank">{{apiExampleDocs.rest_uri | truncateUrl:true}}</a>
          <span ng-show="!apiExampleDocs" class="glyphicon glyphicon-refresh glyphicon-spinner"></span>
      </div>
      <div class="col-md-2 api-search-example-info-json">
          <a role="button" data-toggle="collapse" data-target="#{{apiExampleId}}_raw" ng-click="showingJson = !showingJson">
          <span class="glyphicon" ng-class="{'glyphicon-triangle-bottom':showingJson, 'glyphicon-triangle-right':!showingJson}"></span> View the raw JSON </a>
      </div>
  </div>

  <div class="row api-search-example-raw">
      <div class="col-md-12">
          <pre id="{{apiExampleId}}_raw" class="collapse">{{ apiExampleDocs.data | json }}</pre>
      </div>
  </div>
-->


</div>