<section class="layout_section theme_light">

  <h1 class="type_heading" id="toc_0"><mark class="type_mark">Get Data</mark></h1>

  <p class="type_copy">You have options.</p>

</section>

<section class="layout_section">

  <h2 class="type_heading">No data?</h2>
  <p class="type_copy">No problem. Download one of these samples (in CSV or TSV formats):</p>

  <ul class="list_unordered">
    <li><a class="type_link" href="https://github.com/ibm-cds-labs/open-data/blob/master/uk/hp.csv" target="_blank">UK Addresses</a> (CSV)</li>
    <li><a class="type_link" href="https://github.com/ibm-cds-labs/open-data/blob/master/movies/movies.tsv" target="_blank">Movies</a> (TSV)</li>
  </ul>

  <h2 class="type_heading">Have data, just in the wrong format?</h2>

  <p class="type_copy">Here's how to export CSVs and TSVs from various sources.</p>

  <ul class="list_unordered">
    <li><a class="type_link" href="https://developer.ibm.com/clouddataservices/2015/09/22/export-cloudant-json-as-csv-rss-or-ical/">CouchDB / Cloudant</a></li>
    <li><a class="type_link" href="https://dev.mysql.com/doc/mysql-utilities/1.5/en/mysqldbexport.html">MySQL</a></li>
    <li><a class="type_link" href="https://www.compose.io/articles/comma-values-1-exporting-csv-from-mongodb/">MongoDB</a></li>
    <li><a class="type_link" href="http://stackoverflow.com/questions/6521531/how-do-you-print-the-result-of-a-postgresql-query-in-csv-or-tsv-format-from-the">PostgreSQL</a></li>
  </ul>

  <h2 class="type_heading">Ready to upload?</h2>
  <p>
    <button type="button" class="button_primary" ng-click="goToNextPage('upload')"> Continue </button>
  </p>
</section>