<section class="layout_section theme_light">
  <h1 class="type_heading"><mark class="type_mark">
    Ingredients
  </mark></h1>
  <p>
    The stuff that's baked in.
  </p>
</section>
<section class="layout_section theme_dark">
  <p>

  </p>

  <dl>
    <dt>
      <mark class="type_mark">Runtime</mark>
    </dt>
    <dd>
      <a href="{{ appenv.application.host }}" target="_blank" class="type_link">Node.js app</a> running on IBM Bluemix.
    </dd>
    <dt>
      <mark class="type_mark">Data</mark>
    </dt>
    <dd>
      <a href="{{ appenv.storage.url }}" target="_blank" class="type_link">IBM Cloudant</a>, running on IBM Bluemix. (If you don't know your Cloudant password, <a href="{{ appenv.application.host }}" target="_blank" class="type_link">access Cloudant through the app</a> on Bluemix instead.)
    </dd>
    <dt>
      <mark class="type_mark">Cache (optional)</mark>
    </dt>
    <dd>
      IBM Compose Redis.
    </dd>
    <dt>
      <mark class="type_mark">Code</mark>
    </dt>
    <dd>
      <a href="https://github.com/ibm-cds-labs/simple-search-service/" target="_blank" class="type_link">View the app on Github</a>. Of particular note, check out the <a href="https://www.npmjs.com/package/csv-parse" target="_blank" class="type_link">csv-parse</a> and <a href="https://www.npmjs.com/package/couchimport" target="_blank" class="type_link">couchimport</a> npm modules.
    </dd>
  </dl>

  <p>
    To learn more about how these things go together, <a href="https://developer.ibm.com/clouddataservices/simple-search-service/" target="_blank" class="type_link">check out the tutorial</a> and <a href="https://github.com/ibm-cds-labs/simple-search-service/" target="_blank" class="type_link">the README</a>.
  </p>

</section>