<section class="layout_section theme_light">
  <h1 class="type_heading"><mark class="type_mark">
    Ingredients
  </mark></h1>
  <p>
    The stuff that's baked in.
  </p>
</section>
<section class="layout_section theme_dark">
  <p>

  </p>

  <dl>
    <dt>
      <mark class="type_mark">Runtime</mark>
    </dt>
    <dd>
      Node.js app running on IBM Bluemix. {link to the application for the signed in user on Bluemix}
    </dd>
    <dt>
      <mark class="type_mark">Data</mark>
    </dt>
    <dd>
      IBM Cloudant, running on IBM Bluemix. {link to the Cloudant dashboard and database }
    </dd>
    <dt>
      <mark class="type_mark">Cache (optional)</mark>
    </dt>
    <dd>
      IBM Compose Redis.
    </dd>
    <dt>
      <mark class="type_mark">Code</mark>
    </dt>
    <dd>
      <a href="https://github.com/ibm-cds-labs/simple-search-service/" target="_blank" class="type_link">View the app on Github</a>. Of particular note, check out the <a href="https://www.npmjs.com/package/csv-parse" target="_blank" class="type_link">csv-parse</a> and <a href="https://www.npmjs.com/package/couchimport" target="_blank" class="type_link">couchimport</a> npm modules.
    </dd>
  </dl>

  <p>
    To learn more about how these things go together, check out the tutorial and the README.
  </p>

</section>


<!--

===
rename file ingredients
===

Cloudant is the service.
 - link to cloudant database in bluemix

the application runs on bluemix
 - link to application in bluemix

couchimport is the data ingest.
 - link to github repo

we automatically build search indexes based on what you choose to facet
 - link to code in github repo



-->
