<section class="layout_section theme_light">
  <h1 class="type_heading"><mark class="type_mark">Search</mark></h1>
  <p>
    Results delivered in {{searchDocs.time}} ms | <a class="type_copy type_link no_underline" role="button" ng-click="expandedtips = !expandedtips;toggle('searchTips')"> {{ expandedtips ? '&#9660;' : '&#9658;' }} Search tips</a>
  </p>

  <ul class="type_copy collapsible" id="searchTips">
    <li>
      <code class="type_mark">*:*</code> will bring back everything you've indexed
    </li>
    <li>
      <code class="type_mark">[key]:'[value]'</code> will bring back results that match the <code class="type_mark">[key]</code> with the <code class="type_mark">[value]</code>; e.g., <code class="type_mark">town:'ashfield'</code>
    </li>
    <li>
      <code class="type_mark">[key1]:'[value1]' OR [key2]:'[value2]'</code> is the syntax for multiple matches.<br>
    Combine free text and faceted search like this: <code class="type_mark">willowbank AND [key]:'[value]'</code></li>
  </ul>

  <form ng-submit="search()">
    <div class="form_field" id="searchcontrol">
      <div class="form_addon-group">
        <!-- <span class="form_text-addon">https://.../search?q=</span> -->
        <input type="text" class="input_text" id="q" placeholder="" name="searchterm" ng-model="querystring" ng-change="$root.searchdirty = querystring !== '*:*'">
        <span class="input_text-clear" ng-click="$root.searchdirty = false;clearSearch();" ng-show="$root.searchdirty">&times;</span>
        <button type="submit" class="button_primary search_button" ng-click="search()"> Search </button>
      </div>
    </div>
  </form>

</section>
<section class="layout_section theme_dark">

<section class="tabbed-panel">
  <ul class="tabbed-panel_tab-group">
    <li class="tabbed-panel_tab" ng-class="{'current': currentSearchPanel === 'html'}" ng-click="currentSearchPanel = 'html'">HTML</li>
    <li class="tabbed-panel_tab" ng-class="{'current': currentSearchPanel === 'json'}" ng-click="currentSearchPanel = 'json'">JSON Preview</li>
    <li class="tabbed-panel_tab" ng-class="{'current': currentSearchPanel === 'rawjson'}" ng-click="currentSearchPanel = 'rawjson'">Raw JSON</li>
  </ul>

  <div id="viewashtml" class="tabbed-panel_panel theme_light" ng-if="currentSearchPanel == 'html'">
    <div preview-search-html></div>
  </div>

  <div id="viewasjson" class="tabbed-panel_panel" ng-if="currentSearchPanel == 'json'">

    <p class="type_copy">The <code>counts</code> and <code>rows</code> presented as JSON.</p>

    <div class="grid_row five-column">
      <div class="grid_column two">
        <h4>Facets <small>aka <code>counts</code></small></h4>
        <code class="type_codeblock" id="facets">{{ searchDocs.data.counts | json }}</code>
      </div>
      <div class="grid_column three">
        <h4>Rows <small ng-class="{'api-summary-message':message}" ng-show="searchDocs.data.total_rows >= 0">{{message ? message : 'Showing ' + searchDocs.data.rows.length + ' of ' + searchDocs.data.total_rows}}</small></h4>
        <code class="type_codeblock" id="documents">{{ searchDocs.data.rows | json }}</code>
      </div>
    </div>

  </div>

  <div id="viewAsRawJSON" class="tabbed-panel_panel" ng-if="currentSearchPanel == 'rawjson'">
    <p class="type_copy">The full JSON object returned by the service.
    </p>
    <code class="type_codeblock">{{ searchDocs.data | json }}</code>
  </div>

</section>


<div class="button_group">
  <button type="button" class="button_primary" ng-click="goToNextPage('api')"> Continue </button>
</div>
</section>