<div> <!-- Needed for insertion -->

  <p class="type_copy">Here, the <code>counts</code> and <code>rows</code> JSON, formatted as HTML.</p>

  <div class="grid_row eight-column">
    <div class="grid_column two">
      <h3 class="type_subhead">Facets <small>aka <code class="type_code">counts</code></small></h4>

      <div class="api-search-example-sidebar-facet" ng-repeat="(countkey, countvalue) in searchDocs.data.counts">
        <h4 class="type_subhead" class="api-facet-title">{{countkey}}</h4>
        <ul class="tag-list">
          <li class="tag-list_tag" ng-repeat="(facetkey, facetvalue) in countvalue">
            <span class="tag-cloud_name" role="button" ng-click="apiSearch(countkey, facetkey);">{{facetkey}}</span>
            <span class="tag-cloud_count">({{facetvalue}})</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="grid_column six">

      <h3 class="type_subhead">Rows <small ng-class="{'api-summary-message':message}" ng-show="searchDocs.data.total_rows >= 0">{{message ? message : 'Showing ' + searchDocs.data.rows.length + ' of ' + searchDocs.data.total_rows}}</small></h4>

      <div class="table_basic-container">
        <table class="table_basic">
          <thead>
            <th ng-repeat="docfield in searchDocs.fields">{{docfield.name}}</th>
          </thead>
          <tbody>
            <tr ng-repeat="row in searchDocs.data.rows">
              <td ng-repeat="docfield in searchDocs.fields">
                <ul ng-show="isArray(row[docfield.name])">
                  <li ng-repeat="field in row[docfield.name]">
                    {{field == "null" ? '' : field | ellipsize:20}}
                  </li>
                </ul>
                <span ng-show="!isArray(row[docfield.name])">{{row[docfield.name] == "null" ? '' : row[docfield.name] | ellipsize:20}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>





</div>
