<section class="layout_section theme_light">
  <h1 class="type_heading">Settings</h1>
</section>

<section class="layout_section theme_dark">


<div class="form-horizontal api-settings">
  <div class="api-settings-form">

    <div class="form-group">
      <label for="querylimit" class="type_label">Query limit</label>
      <div class="col-sm-2">
        <input name="querylimit" type="number" class="input_number" min=1 ng-model="settings.querylimit" ng-change="dirty = true" required>
      </div>
      <div class="col-sm-10 col-sm-offset-2">
        <span id="helpBlock" class="help-block">Sets the <code>limit</code> parameter on API calls.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button id="savesettings" type="button" class="_strong-button" ng-click="dirty = false;saveSettings();" ng-disabled="dirty != true || saving">
          {{ saving ? 'Saving...' : 'Save' }}
        </button>
      </div>
    </div>

  </div>
</div>

<hr>

<h2 class="type_heading">Delete data</h2>
<p class="type_copy">If you want to use this service to index different data, or to re-index the same data with different facets or data types, you can blow away your database, and the indexes, and start over again.</p>
<button name="deletedata" data-toggle="modal" data-target="#deleteData" class="_strong-button">Delete data</button>

</section>


