<h1>
  Settings
</h1>

<div class="form-horizontal api-settings">
<div class="form-group">
  <label for="deletedata" class="col-sm-2">Delete all data</label>
  <div class="col-sm-2">
    <button name="deletedata" data-toggle="modal" data-target="#deleteData" class="btn btn-primary btn-danger">Delete</button>
  </div>
</div>
<div class="api-settings-form">
  <div class="form-group">
    <label for="querylimit" class="col-sm-2">Query limit</label>
    <div class="col-sm-2">
      <input name="querylimit" type="number" class="form-control" min=1 ng-model="settings.querylimit" ng-change="dirty = true" required>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button id="savesettings" type="button" class="btn btn-default" ng-click="dirty = false;saveSettings();" ng-disabled="dirty != true || saving">
        {{ saving ? 'Saving...' : 'Save' }}
      </button>
    </div>
  </div>
</div>
</div>