<section class="layout_section theme_light">
  <h1 class="type_heading"><mark class="type_mark">Upload Data</mark></h1>
  <p class="type_copy">Upload a comma separated values (CSV) or tab separated values (TSV) file.</p>
</section>

<section class="layout_section theme_dark">
  
  <div ng-show="currentStatus == 'imported'" class="alert alert-success">
    <p class="type_copy">Your data was uploaded and imported successfully.</p>
  </div>

  <div ng-show="currentStatus == 'uploaded'" class="alert alert-success">
    <p class="type_copy">Your data was uploaded successfully.</p>
  </div>

  <div ng-show="!currentStatus || currentStatus == 'new'">
    <form id="uploadform" action="/upload" method="post" enctype="multipart/form-data">
      <fieldset class="form_field">
        <input class="input_file" id="file" type="file" name="file" />
        <label class="input_file-handle" for="file"></label>
      </fieldset>
    </form>
    <p class="type_copy">Once you select your file, we'll automatically move to the next step, where you'll create the index for your search service. So choose wisely.</p>
  </div>

  <div class="button_group" ng-show="currentStatus && currentStatus != 'new'">
    <button type="button" class="button_primary" ng-click="goToNextPage('import')"> Continue </button>
  </div>

</section>

