.theme_dark {
	color: #fff;
	background-color: #152935;
}

.theme_light {
	color: #264a60;
	background-color: #ececec;
}


.bg_white {
	background-color: #fff;
}
.bg_light-tint {
	background-color: #f9f9fb;
}
.bg_light {
	background-color: #ececec;
}

.bg_dark {
	background-color: #152935;
}
.bg_black {
	background-color: #000;
}

html {
	min-height: 100%;
}
body {
	box-sizing: border-box;
	font: normal normal 400 1em/1.4 "HelvNeue", Helvetica, sans-serif;
	vertical-align: baseline;
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

*,
*:before,
*:after{
	box-sizing: inherit;
	position: relative;
}
a{
	color: inherit;
	text-decoration: inherit;
}
svg{
	fill: currentcolor;
}
[onclick],
[href],
[class*="button"]{
	cursor: pointer;
}

hr {
	border: 0;
  border-top: 2px solid #264a60;
  margin: 36px 0 24px;
  margin: 2.25rem 0 1.5rem;
}

.hidden{
	display: none;
}

.alert-container {
	color: #1E2739;
    margin: 30px 0;
    padding: 20px 80px;
    padding: 1.25rem 5rem;
}

.alert-container.warning {
    background: -webkit-repeating-linear-gradient(  145deg,  #FEF0A8,  #FEF0A8 1px,  #F6CC00 1px,  #F6CC00 3px);
    background: repeating-linear-gradient(  -55deg,  #FEF0A8,  #FEF0A8 1px,  #F6CC00 1px,  #F6CC00 3px);
    border-left: 2px solid #EFC100;
}
.button_group {
  display: block;
  margin: 36px 0;
  margin: 2.25rem 0;
}

.button_primary {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  height: 36px;
  height: 2.25rem;
  text-align: center;
  border: none;
  -webkit-transition: background .2s ease;
  transition: background .2s ease;
  font-size: 14px;
  font-size: .875rem;
  padding: 0 1.75em;
  font-weight: 700;
}

.button_secondary {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: top;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 1;
  height: 36px;
  height: 2.25rem;
  text-align: center;
  border: 2px solid;
  background: transparent;
  -webkit-transition: color 0.1s ease, background 0.2s ease, box-shadow 0.1s ease;
  transition: color 0.1s ease, background 0.2s ease, box-shadow 0.1s ease;
  font-size: 14px;
  font-size: .875rem;
  padding: 0 1.75em;
  font-weight: 700;
}

._button[disabled] {


}

/*Dark Themes*/

.theme_dark,
.theme_light .theme_dark {

}

.theme_dark .button_primary, .theme_light .theme_dark .button_primary {
	background-color: #41d6c3;
	color: #003c32;
}

.theme_dark .button_primary:hover, .theme_light .theme_dark .button_primary:hover {
	background-color: #6eedd8;
}

.theme_dark .button_secondary, .theme_light .theme_dark .button_secondary {
	color: #41d6c3;
	border-color: #41d6c3;
}

.theme_dark .button_secondary:hover, .theme_light .theme_dark .button_secondary:hover {
	background-color: #000000;
	background-color: rgba(0,0,0,.4);
} 

/*Light Themes*/

.theme_light,
.theme_light .theme_dark .theme_light {

}

.theme_light .button_primary, .theme_light .theme_dark .theme_light .button_primary {
	background-color: #41d6c3;
	color: #003c32;
}

.theme_light .button_primary:hover, .theme_light .theme_dark .theme_light .button_primary:hover {
	background-color: #6eedd8;
}

.theme_light .button_secondary, .theme_light .theme_dark .theme_light .button_secondary {
	color: #003c32;
	border-color: #41d6c3;
}

.theme_light .button_secondary:hover, .theme_light .theme_dark .theme_light .button_secondary:hover {
	background-color: #e0e0e0;
}
.table_basic-container {
  max-width: 100%;
  overflow-x: scroll;
}

.table_basic {
  border-collapse: collapse;
  width: 100%;
}

.table_basic tr{

}

.table_basic thead {
  color: green;
  border-bottom: 4px solid;
}

.table_basic thead tr{

}

.table_basic th{
  font-size: 14px;
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  padding: 8px;
  padding: .5rem;
  white-space: nowrap;
}

.table_basic tbody {

}

.table_basic tbody tr {

}

.table_basic tbody tr:nth-child(even) {
  background-color: #ececec;
}

.table_basic tbody td{
  font-size: 14px;
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  padding: 12px 8px;
  padding: .75rem .5rem;
  white-space: nowrap;
}

.table_basic tbody td + td {
  border-left: 1px solid #1d3649;
}

.table_basic tfoot{

}

.table_basic tfoot tr{

}

.table_basic tfoot td{

}

/*Dark Themes*/

.theme_dark,
.theme_light .theme_dark {

}

.theme_dark .table_basic, .theme_light .theme_dark .table_basic {
	border-bottom: 1px solid #1d3649;
}

.theme_dark .table_basic thead, .theme_light .theme_dark .table_basic thead {
	color: #41d6c3;
}

.theme_dark .table_basic tbody tr:nth-child(odd), .theme_light .theme_dark .table_basic tbody tr:nth-child(odd) {
	background-color: #152935;
}

.theme_dark .table_basic tbody tr:nth-child(even), .theme_light .theme_dark .table_basic tbody tr:nth-child(even) {
	background-color: #264a60;
}

.theme_dark .table_basic tbody td + td, .theme_light .theme_dark .table_basic tbody td + td {
	border-left: 1px solid #1d3649;
} 

/*Light Themes*/

.theme_light,
.theme_light .theme_dark .theme_light {

}

.theme_light .table_basic, .theme_light .theme_dark .theme_light .table_basic {
	border-bottom: 1px solid #e0e0e0;
}

.theme_light .table_basic thead, .theme_light .theme_dark .theme_light .table_basic thead {
	color: #008571;
}

.theme_light .table_basic tbody tr:nth-child(odd), .theme_light .theme_dark .theme_light .table_basic tbody tr:nth-child(odd) {
	background-color: #fff;
}

.theme_light .table_basic tbody tr:nth-child(even), .theme_light .theme_dark .theme_light .table_basic tbody tr:nth-child(even) {
	background-color: #f9f9fb;
}

.theme_light .table_basic tbody td + td, .theme_light .theme_dark .theme_light .table_basic tbody td + td {
	border-left: 1px solid #e0e0e0;
}
.input_text {
	height: 32px;
	height: 2rem;
	font-size: 14px;
	font-size: .875rem;
	background-color: #fff;
	display: block;
	color: black;
	width: 100%;
	border: 1px solid #d3d9dd;
	padding: 6px 0 6px 12px;
	padding: .375rem 0 .375rem .75rem;
}

/*remove spinner on ff*/
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input_text:not(:-moz-read-only):focus {
	border: 1px solid #0699cc;
	outline: none;
}

.input_text:not(:read-only):focus {
	border: 1px solid #0699cc;
	outline: none;
}

.input_text:-moz-read-only {

}

.input_text:read-only {

}

.input_text[data-validation="valid"] {
	
}

.input_text[data-validation="invalid"] {
	border: 2px solid red;
}
.input_text[data-validation="invalid"]:hover {
	border: 2px solid #ee3897;
}

.input_textarea {
	font-size: 14px;
	font-size: .875rem;
	font-family: inherit;
	background-color: #fff;
	color: black;
	width: 100%;
	max-width: 24em;
	outline: none;
	border: 1px solid #d3d9dd;
	overflow: visible;
	overflow: initial;
	line-height: 1;
	padding: .5em;
	resize: vertical;
	-webkit-transition: border 0.2s ease-out-in;
	transition: border 0.2s ease-out-in;
}

._text-area:not(:-moz-read-only):focus {
	border: 1px solid #0699cc;
}

._text-area:not(:read-only):focus {
	border: 1px solid #0699cc;
}

._text-area:-moz-read-only {
	
}

._text-area:read-only {
	
}

._text-area[data-validation="valid"] {
	
}

._text-area[data-validation="invalid"] {
	
}

::-webkit-input-placeholder {
	color: #777677;
}
::-moz-placeholder { 
	color: #777677;
}
:-ms-input-placeholder {
	color: #777677;
}

.input_select{
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.7px' height='8.7px'%3E%3Cpolygon fill='%23000000' points='7.3,8.7 0,1.4 1.4,0 7.3,5.9 13.2,0 14.7,1.4 '/%3E%3C/svg%3E");
	background-position: right 8px center;
	background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
	font-size: 14px;
	font-size: .875rem;
	font-family: inherit;
	background-color: #fff;
	color: black;
	width: 100%;
	max-width: 24em;
	outline: none;
	border: 1px solid #d3d9dd;
	overflow: visible;
	overflow: initial;
	padding: .5em;
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	border-radius: 0;
}

.input_file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_file-handle {
	height: 32px;
	height: 2rem;
	font-size: 14px;
	font-size: .875rem;
	background-color: #fff;
	display: block;
	color: black;
	width: 100%;
	border: 1px solid #d3d9dd;
	padding: 6px 0 6px 12px;
	padding: .375rem 0 .375rem .75rem;
}

.input_file-handle:hover{
	cursor: pointer;
}

.input_file-handle:empty:before {
	content: "Select File";
	display: block;
	color: #777677;
}

.input_file-handle:after {
	content: "Browse";
	display: block;
	position: absolute;
	padding: 6px 28px;
	padding: .375rem 1.75rem;
	top: -1px;
	right: -1px;
	height: 32px;
	height: 2rem;
	background-color: #264a60;
	color: #41d6c3;
}


.input_checkbox {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_checkbox-handle {
	
}

.input_checkbox-handle:before{
	content: "";
	display: inline-block;
	height: 16px;
	height: 1rem;
	width: 16px;
	width: 1rem;
	box-shadow: inset 0 0 0 2px #162935;
	background-position: center center;
  background-repeat: no-repeat;
  background-size: .75rem;
  /*background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10.2px' height='7.9px'><polygon fill='#162935' points='3.6,5.2 1.4,2.9 0,4.3 3.6,7.9 10.2,1.4 8.8,0 '/></svg>");*/
	background-color: #fff;
	cursor: pointer;
}

.input_checkbox:disabled + .input_checkbox-handle:before {
	opacity: .5;
	cursor: not-allowed;
} 

.input_checkbox:checked + .input_checkbox-handle:before {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10.2px' height='7.9px'%3E%3Cpolygon fill='%23162935' points='3.6,5.2 1.4,2.9 0,4.3 3.6,7.9 10.2,1.4 8.8,0 '/%3E%3C/svg%3E");
}


.input_radio {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.input_radio-handle {
	
}

.input_radio-handle:before{
	content: "";
	display: inline-block;
	height: 16px;
	height: 1rem;
	width: 16px;
	width: 1rem;
	margin-right: 8px;
	margin-right: .5rem; 
	box-shadow: inset 0 0 0 2px #162935, inset 0 0 0 4px #fff;
	border-radius: .5rem;
	background-color: #fff;
	cursor: pointer;
}

.input_radio:disabled + .input_radio-handle:before {
	opacity: .5;
	cursor: not-allowed;
}

.input_radio:checked + .input_radio-handle:before {
	background-color: #162935;
}

.type_heading {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: 500;
	line-height: 1.2;
	max-width: 576px;
	max-width: 36rem;
	display: block;
	margin: 0;
	margin: 36px 0 16px 0;
	margin: 2.25rem 0 1rem 0;
}
.type_heading:first-child {
	margin-top: 0;
}

.type_subhead {
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.2;
	max-width: 576px;
	max-width: 36rem;
	display: block;
	margin: 36px 0 16px 0;
	margin: 2.25rem 0 1rem 0;
}
.type_subhead:first-child {
	margin-top: 0;
}

.type_caption {
	font-size: 12px;
	font-size: .75rem;
	font-weight: 700;
	display: block;
	margin: 0;
}

.type_caption_normal {
	font-weight: 400;
}

.type_copy{
	font-size: 14px;
	font-size: .875rem;
	font-weight: 300;
	max-width: 576px;
	max-width: 36rem;
	line-height: 1.5;
	margin: 8px 0;
	margin: .5rem 0;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.type_copy:last-child:not(:only-child){
	margin-bottom: 0;
}

.type_mark {
	background: none;
}

.type_em {
	font-style: normal;
}

.type_link {
	white-space: nowrap;
	display: inline-block;
	text-decoration: underline;
}

.type_section {
	margin-top: 0;
}

.type_codeblock {
	font-size: 14px;
	font-size: .875rem;
	display: block;
	white-space: pre;
	background-color: #323232;
	color: #e0e0e0;
	border-radius: 4px;
	border: 1px solid #121212;
	padding: 12px 12px;
	padding: 0.75rem 0.75rem;
	margin: 16px 0;
	margin: 1rem 0;
	overflow-x: auto;
	max-width: 100%;
}

.type_codeblock:empty {
	display: none;
}

/*Dark Themes*/

.theme_dark,
.theme_light .theme_dark {

}

.theme_dark .type_link, .theme_light .theme_dark .type_link {
	color: #41d6c3;
}

.theme_dark .type_link:hover, .theme_light .theme_dark .type_link:hover {
	color: #6eedd8;
}

.theme_dark .type_mark, .theme_light .theme_dark .type_mark {
	color: #ff3ca0;
} 

/*Light Themes*/

.theme_light,
.theme_light .theme_dark .theme_light {

}

.theme_light .type_link, .theme_light .theme_dark .theme_light .type_link {
	color: #008571;
}

.theme_light .type_link:hover, .theme_light .theme_dark .theme_light .type_link:hover {
	color: #006d5d;
}

.theme_light .type_mark, .theme_light .theme_dark .theme_light .type_mark {
	color: #db2780;
}
.list_unordered {
	list-style: none;
	padding: 0;
	max-width: 576px;
	max-width: 36rem;
}

.list_unordered li{
	font-weight: 400;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: 16px;
	margin-bottom: 1rem;
	line-height: 1.5;
}

.list_unordered li:before {
	content: "";
	position: absolute;
	-webkit-transform: translate(-10px, 2px);
	        transform: translate(-10px, 2px);
	top: .5em;
	background: currentcolor;
	height: 2px;
	width: 2px;
	border-radius: 100%;
}

.list_unordered.compact li {
	margin-bottom: 0;
}

.list_ordered {
	list-style: none;
	margin: 0 0 0 -8px;
	margin: 0 0 0 -.5rem;
	padding: 0;
	counter-reset: list;
	max-width: 576px;
	max-width: 36rem;
}

.list_ordered li{
	margin: 0 0 16px;
	margin: 0 0 1rem;
	padding: 0 0 0 8px;
	padding: 0 0 0 .5rem;
	font-weight: 300;
	font-size: 14px;
	font-size: 0.875rem;
}

.list_ordered li:before {
	counter-increment: list;
	content: counter(list) ".";
	position: absolute;
	right: 100%;
	border-radius: 100%;
}

.list_ordered.compact li {
	margin-bottom: 0;
}

.list_definition_list {

}

.list_definition_list dt{

}

.list_definition_list dd{

}
[data-large-number-badge]:before {
	content: attr(data-large-number-badge);
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: 800;
	/*color: #DFE9E9;*/
	border-radius: 100%;
	top: -32px;
	top: -2rem;
	left: -32px;
	left: -2rem;
	height: 54px;
	height: 3.375rem;
	width: 54px;
	width: 3.375rem;
	background: #7CC7FF;
}


.badges_section-transition {
	background-color: #EFC100;
	color: #323232;
	display: inline-block;
	margin: 0 0 -60px;
	margin: 0 0 -3.75rem;
	padding: 18px 20px;
	padding: 1.125rem 1.25rem;
	font-size: 18px;
	font-size: 1.125rem;
	-webkit-transform: translate(-1.25rem, -50%);
	        transform: translate(-1.25rem, -50%);
}
._progress {

}

._progress[value] {
	height: 28px;
	height: 1.75rem;
	width: 100%;
	border: 1px solid white;

	/*reset default appearance of progress bar*/
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/*remove firefox default border*/
	border: none;

	/*for ie 10 color of progress bar*/
	color: white;

	/*color for bg of progress bar container*/
	background-color: #192d3a;
	border: 2px solid white;
	box-shadow:0px 0px 0px 1px #192d3a inset;

}

/*webkit style progress bar container*/
._progress[value]::-webkit-progress-bar {
	background-color: transparent;
}

/*webkit style progress bar*/
._progress[value]::-webkit-progress-value {
	background-color: white;
}

/*firefox style progress bar*/
._progress[value]::-moz-progress-bar {
	background-color: white;
}
.tree-nav {
	margin: 28px 0;
	margin: 1.75rem 0;
	padding: 0;
	list-style: none;
	font-weight: 500;
}

.tree-nav .tree-nav {
	margin: 0;
	font-weight: 300;
}

.tree-nav_item {
	padding: 0;
}

.tree-nav_link {
	display: block;
	padding: 8px 64px;
	padding: .5rem 4rem;
	width: 100%;
	-webkit-transition: background-color .2s ease;
	transition: background-color .2s ease;
	font-size: 14px;
	font-size: .875rem;
}

.tree-nav_link.current {

}

.tree-nav_link.disabled {
	opacity: .5;
	cursor: not-allowed;
} 

.tree-nav .tree-nav .tree-nav_link {
	padding-left: 72px;
	padding-left: 4.5rem;
}

/*Dark Themes*/

.theme_dark,
.theme_light .theme_dark {

}

.theme_dark .tree-nav_link:not(.disabled):hover, .theme_light .theme_dark .tree-nav_link:not(.disabled):hover {
	box-shadow: inset 8px 0 0 0 #5aaafa;
}

.theme_dark .tree-nav_link.current, .theme_light .theme_dark .tree-nav_link.current {
	background-color: #1d3649;
	box-shadow: inset 8px 0 0 0 #5aaafa;
} 

/*Light Themes*/

.theme_light,
.theme_light .theme_dark .theme_light {

}

.theme_light .tree-nav_link:not(.disabled):hover, .theme_light .theme_dark .theme_light .tree-nav_link:not(.disabled):hover {
	box-shadow: inset 8px 0 0 0 #5aaafa;
}

.theme_light .tree-nav_link.current, .theme_light .theme_dark .theme_light .tree-nav_link.current {
	background-color: #f0f2f4;
	box-shadow: inset 8px 0 0 0 #5aaafa;
}
.form{

}

.form_field {
	border: none;
	margin: 0;
	padding: 1px 0;
	margin-bottom: 16px;
	margin-bottom: 1rem;
}

.form_field[data-validation="invalid"] {

}

.form_label {
	display: block;
	margin: 0 0 4px;
	margin: 0 0 .25rem;
}

.form_field-notes {
	font-size: 12px;
	font-size: .75rem;
	margin: 4px 0 0;
	margin: .25rem 0 0;
	color: #000000;
	color: rgba(0,0,0,.6);
}

.form_field[data-validation="invalid"] .form_field-notes {
	background: #ee3897;
	color: #ffffff;
	color: rgba(255,255,255,.9);
	margin-top: 8px;
	margin-top: .5rem;
	padding: .5em;
	border-radius: 4px;
}
.form_field[data-validation="invalid"] .form_field-notes:before {
	content: "";
	position: absolute;
	top: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ee3897;
}

.form_control-legend{
	display: block;
	font-size: 14px;
	font-size: .875rem;
	color: #0699cc;
	margin: 0 0 4px;
	margin: 0 0 .25rem;
}

.form_control-label{
	display: block;
}


.form_addon-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}

.form_text-addon {
	white-space: nowrap;
	display: inline-block;
	height: 32px;
	height: 2rem;
	font-size: 14px;
	font-size: .875rem;
	background-color: #152935;
	color: #00b4a0;
	display: block;
	border: 1px solid #264a60;
	padding: 6px 24px 0;
	padding: .375rem 1.5rem 0;
}


/*form structure styles*/
.form_container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	padding: 32px;
	padding: 2rem;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
}

.form_standard {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 100%;
	    -ms-flex: 0 1 100%;
	        flex: 0 1 100%;
}

.form_double {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	    -ms-flex: 0 0 100%;
	        flex: 0 0 100%;
}
.tag-list {
	list-style: none;
	padding: 0;
}

.tag-list_tag {
	display: block;
	font-size: 14px;
	font-size: .875rem;
	margin-bottom: 4px;
	margin-bottom: .25rem;
}

.tag-list_tag:hover .tag-cloud_name{
	cursor: pointer;
	text-decoration: underline;
}

.tag-cloud_name {
	color: #4178be;
	font-weight: 700;
}

.tag-cloud_count {
	color: #6d7777;
	font-weight: 400;
}
.app-banner {
	background-color: #5aaafa;
	padding: 16px 40px;
	padding: 1rem 2.5rem;
	padding-left: 64px;
	padding-left: 4rem;
}

.app-banner_title {

}
.tabbed-panel {
	margin: 16px 0;
	margin: 1rem 0;
	color: #152935;
}

.tabbed-panel_tab-group {
	list-style: none;
	padding: 0;
	margin: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row-nowrap;
	    -ms-flex-flow: row-nowrap;
	        flex-flow: row-nowrap;
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}

.tabbed-panel_tab {
	font-size: 20px;
	font-size: 1.25rem;
	padding: 8px 24px;
	padding: .5rem 1.5rem;
	cursor: pointer;
	background-color: #aeb8b8;
}

.tabbed-panel_tab + .tabbed-panel_tab {
	margin-left: 4px;
	margin-left: .25rem;
}

.tabbed-panel_tab.current {
	background-color: #ffffff;
}

.tabbed-panel_panel {
	/*display: none;*/
	background-color: #ffffff;
	padding: 24px;
	padding: 1.5rem;
	max-width: 100%;
}
/*
.tabbed-panel_panel[data-current="true"] {
	display: block;
}*/

.icon_inline {
	display: inline-block;
	max-width: 1.25em;
	vertical-align: baseline;
	fill: currentcolor;
}

.capped-layout{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column nowrap;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
  /*min-height: 100%;*/
  max-height: 100vh;
}
.capped-layout_cap{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.capped-layout_body{
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.bookend-layout{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
  min-height: 100%;
}

.bookend-layout_bookend{
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.bookend-layout_body{
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  overflow: auto;
}

.layout_section {
  max-width: 100%;
  padding: 36px 40px;
  padding: 2.25rem 2.5rem;
}

.workspace{
  padding: 36px 40px;
  padding: 2.25rem 2.5rem;
}

.scrollable-x {
  overflow-x: auto;
}

.scrollable-y {
  overflow-y: auto;
}
.grid_row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row nowrap;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
}

.grid_column {
	margin: 0 1em;
}

.grid_column:first-child{
	margin-left: 0;
}

.grid_column:last-child{
	margin-right: 0;
}

/*Five Columns*/

.five-column .grid_column.one{
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 5 - 2em);
	    -ms-flex: 1 1 calc(100% / 5 - 2em);
	        flex: 1 1 calc(100% / 5 - 2em);
	max-width: calc(100% / 5 - 2em);
}

.five-column .grid_column.two{
	-webkit-box-flex: 2;
	-webkit-flex: 2 3 calc(100% / 5 * 2 - 2em);
	    -ms-flex: 2 3 calc(100% / 5 * 2 - 2em);
	        flex: 2 3 calc(100% / 5 * 2 - 2em);
	max-width: calc(100% / 5 * 2 - 2em);
}

.five-column .grid_column.three{
	-webkit-box-flex: 3;
	-webkit-flex: 3 3 calc(100% / 5 * 3 - 2em);
	    -ms-flex: 3 3 calc(100% / 5 * 3 - 2em);
	        flex: 3 3 calc(100% / 5 * 3 - 2em);
	max-width: calc(100% / 5 * 3 - 2em);
}

.five-column .grid_column.four{
	-webkit-box-flex: 4;
	-webkit-flex: 4 4 calc(100% / 5 * 4 - 2em);
	    -ms-flex: 4 4 calc(100% / 5 * 4 - 2em);
	        flex: 4 4 calc(100% / 5 * 4 - 2em);
	max-width: calc(100% / 5 * 4 - 2em);
}

/*Six Columns*/

.six-column .grid_column.one{
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 6 - 2em);
	    -ms-flex: 1 1 calc(100% / 6 - 2em);
	        flex: 1 1 calc(100% / 6 - 2em);
	max-width: calc(100% / 6 - 2em);
}

.six-column .grid_column.two{
	-webkit-box-flex: 2;
	-webkit-flex: 2 2 calc(100% / 6 * 2 - 2em);
	    -ms-flex: 2 2 calc(100% / 6 * 2 - 2em);
	        flex: 2 2 calc(100% / 6 * 2 - 2em);
	max-width: calc(100% / 6 * 2 - 2em);
}

.six-column .grid_column.three{
	-webkit-box-flex: 3;
	-webkit-flex: 3 3 calc(100% / 6 * 3 - 2em);
	    -ms-flex: 3 3 calc(100% / 6 * 3 - 2em);
	        flex: 3 3 calc(100% / 6 * 3 - 2em);
	max-width: calc(100% / 6 * 3 - 2em);
}

.six-column .grid_column.four{
	-webkit-box-flex: 4;
	-webkit-flex: 4 4 calc(100% / 6 * 4 - 2em);
	    -ms-flex: 4 4 calc(100% / 6 * 4 - 2em);
	        flex: 4 4 calc(100% / 6 * 4 - 2em);
	max-width: calc(100% / 6 * 4 - 2em);
}

.six-column .grid_column.five{
	-webkit-box-flex: 5;
	-webkit-flex: 5 5 calc(100% / 6 * 5 - 2em);
	    -ms-flex: 5 5 calc(100% / 6 * 5 - 2em);
	        flex: 5 5 calc(100% / 6 * 5 - 2em);
	max-width: calc(100% / 6 * 5 - 2em);
}


/*Eight Column*/

.eight-column .grid_column.one {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 - 2em);
	        flex: 1 1 calc(100% / 8 - 2em);
	max-width: calc(100% / 8 - 2em);
}

.eight-column .grid_column.two {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 * 2 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 * 2 - 2em);
	        flex: 1 1 calc(100% / 8 * 2 - 2em);
	max-width: calc(100% / 8 * 2 - 2em);
}

.eight-column .grid_column.three {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 * 3 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 * 3 - 2em);
	        flex: 1 1 calc(100% / 8 * 3 - 2em);
	max-width: calc(100% / 8 * 3 - 2em);
}

.eight-column .grid_column.four {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 * 4 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 * 4 - 2em);
	        flex: 1 1 calc(100% / 8 * 4 - 2em);
	max-width: calc(100% / 8 * 4 - 2em);
}

.eight-column .grid_column.five {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 * 5 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 * 5 - 2em);
	        flex: 1 1 calc(100% / 8 * 5 - 2em);
	max-width: calc(100% / 8 * 5 - 2em);
}

.eight-column .grid_column.six {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 * 6 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 * 6 - 2em);
	        flex: 1 1 calc(100% / 8 * 6 - 2em);
	max-width: calc(100% / 8 * 6 - 2em);
}

.eight-column .grid_column.seven {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 calc(100% / 8 * 7 - 2em);
	    -ms-flex: 1 1 calc(100% / 8 * 7 - 2em);
	        flex: 1 1 calc(100% / 8 * 7 - 2em);
	max-width: calc(100% / 8 * 7 - 2em);
}
