
.tree-nav_link.done {
    opacity: .5;
}
.tree-nav_link.disabled {
    text-decoration: line-through;
    cursor: pointer;
}
.tree-nav_link.done:after {
    content: '\00a0 \2713';
}
.tree-nav .tree-nav hr {
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

.collapsible {
    display: none;
}
.no_underline {
    text-decoration: none;
}
#searchTipsLink {
    margin-left: 30px;
}
#searchcontrol .input_search {
    width: 75rem;
}
#searchcontrol .search_button {
    height: 2rem;
}
.form_addon-group {
    /* display: inline-flex; */
}

.theme_dark .button_primary.disabled,
.theme_dark .button_primary[disabled] {
    background-color: #41d6c3;
    cursor: not-allowed;
    opacity: 0.5;
}
.theme_dark .button_secondary.disabled,
.theme_dark .button_secondary[disabled] {
    background-color: inherit;
    cursor: not-allowed;
    opacity: 0.5;
}

.tag-list_tag span {
    font-weight:normal;
}
.tag-list_tag.active span {
    font-weight:700;
}

.input_text-clear {
    color: #323232;
    cursor: pointer;
    display: inline-block;
    font-size: 1.35rem;
    height: 2rem;
    padding: 0 1rem;
    position: absolute;
    right: 100px;
    white-space: nowrap;
}

td.error {
    color: #ff0000;
}

.alert-container.error {
    background: rgba(0, 0, 0, 0) repeating-linear-gradient(-55deg, #bb4444, #bb4444 1px, #bb1122 1px, #bb1122 3px) repeat scroll 0 0 !important;
    border-left: 2px solid #ad1625;
    color: #ffffff;
}

.type_copy.alert-container {
    max-width: 100%;
}

.input_select:disabled,
.input_select.disabled {
    background-color: #92a4af;
    border-color: #000000;
}
