@import "ibmcolors.css";
@import "themes.css";

html {
	min-height: 100%;
}
body {
	box-sizing: border-box;
	font: normal normal 400 1em/1.4 "HelvNeue", Helvetica, sans-serif;
	vertical-align: baseline;
	min-width: 100vw;
	min-height: 100vh;
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after{
	box-sizing: inherit;
	position: relative;
}
a{
	color: inherit;
	text-decoration: inherit;
}
svg{
	fill: currentcolor;
}
[onclick],
[href],
[class*="button"]{
	cursor: pointer;
}

hr {
	border: 0;
  border-top: 2px solid var(--ibm-color-blue-70);
  margin: 2.25rem 0 1.5rem;
}

.hidden{
	display: none;
}

.workspace{
	flex: 1;
	max-height: 100vh;
	overflow: auto;
}

@import "alerts.css";
@import "buttons.css";
@import "tables.css";
@import "inputs.css";
@import "type.css";
@import "lists.css";
@import "badges.css";
@import "progress.css";
@import "tree-nav.css";
@import "form.css";
@import "tags.css";
@import "app-banner.css";
@import "tabbed-panel.css";

@import "icons.css";

@import "layouts.css";
@import "grid.css";
