.alert-container {
	color: #1E2739;
    margin: 30px 0;
    padding: 1.25rem 5rem;
}

.alert-container.warning {
    background: repeating-linear-gradient(  -55deg,  #FEF0A8,  #FEF0A8 1px,  #F6CC00 1px,  #F6CC00 3px);
    border-left: 2px solid #EFC100;
}