.button_group {
  display: block;
  margin: 2.25rem 0;
}

.button_primary {
  display: inline-flex;
  align-items: center;
  line-height: 1;
  height: 2.25rem;
  text-align: center;
  border: none;
  transition: background .2s ease;
  font-size: .875rem;
  padding: 0 1.75em;
  font-weight: 700;
}

.button_secondary {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  justify-content: center;
  line-height: 1;
  height: 2.25rem;
  text-align: center;
  border: 2px solid;
  background: transparent;
  transition: color 0.1s ease, background 0.2s ease, box-shadow 0.1s ease;
  font-size: .875rem;
  padding: 0 1.75em;
  font-weight: 700;
}

._button[disabled] {


}

/*Dark Themes*/

.theme_dark,
.theme_light .theme_dark {

  & .button_primary {
    background-color: var(--ibm-color-teal-30);
    color: var(--ibm-color-teal-80);
  }

  & .button_primary:hover {
    background-color: var(--ibm-color-teal-20);
  }

  & .button_secondary {
    color: var(--ibm-color-teal-30);
    border-color: var(--ibm-color-teal-30);
  }

  & .button_secondary:hover {
    background-color: rgba(0,0,0,.4);
  }

} 

/*Light Themes*/

.theme_light,
.theme_light .theme_dark .theme_light {

  & .button_primary {
    background-color: var(--ibm-color-teal-30);
    color: var(--ibm-color-teal-80);
  }

  & .button_primary:hover {
    background-color: var(--ibm-color-teal-20);
  }

  & .button_secondary {
    color: var(--ibm-color-teal-80);
    border-color: var(--ibm-color-teal-30);
  }

  & .button_secondary:hover {
    background-color: var(--ibm-color-gray-10);
  }

} 