.form{

}

.form_field {
	border: none;
	margin: 0;
	padding: 1px 0;
	margin-bottom: 1rem;
}

.form_field[data-validation="invalid"] {

}

.form_label {
	display: block;
	margin: 0 0 .25rem;
}

.form_field-notes {
	font-size: .75rem;
	margin: .25rem 0 0;
	color: rgba(0,0,0,.6);
}

.form_field[data-validation="invalid"] .form_field-notes {
	background: #ee3897;
	color: rgba(255,255,255,.9);
	margin-top: .5rem;
	padding: .5em;
	border-radius: 4px;
}
.form_field[data-validation="invalid"] .form_field-notes::before {
	content: "";
	position: absolute;
	top: -5px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #ee3897;
}

.form_control-legend{
	display: block;
	font-size: .875rem;
	color: #0699cc;
	margin: 0 0 .25rem;
}

.form_control-label{
	display: block;
}


.form_addon-group {
	display: flex;
	flex-flow: row nowrap;
}

.form_text-addon {
	white-space: nowrap;
	display: inline-block;
	height: 2rem;
	font-size: .875rem;
	background-color: var(--ibm-color-blue-90);
	color: var(--ibm-color-teal-40);
	display: block;
	border: 1px solid var(--ibm-color-blue-70);
	padding: .375rem 1.5rem 0;
}


/*form structure styles*/
.form_container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: 2rem;
	flex-wrap: wrap;
}

.form_standard {
	flex: 0 1 100%;
}

.form_double {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	flex: 0 0 100%;
}
