.grid_row {
	display: flex;
	flex-flow: row nowrap;
}

.grid_column {
	margin: 0 1em;
}

/*Five Columns*/

.five-column .grid_column.one{
	flex: 1 1 calc(100% / 5 - 2em);
}

.five-column .grid_column.two{
	flex: 2 3 calc(100% / 5 * 2 - 2em);
}

.five-column .grid_column.three{
	flex: 3 3 calc(100% / 5 * 3 - 2em);
}

.five-column .grid_column.four{
	flex: 4 4 calc(100% / 5 * 4 - 2em);
}

/*Six Columns*/

.six-column .grid_column.one{
	flex: 1 1 calc(100% / 6 - 2em);
}

.six-column .grid_column.two{
	flex: 2 2 calc(100% / 6 * 2 - 2em);
}

.six-column .grid_column.three{
	flex: 3 3 calc(100% / 6 * 3 - 2em);
}

.six-column .grid_column.four{
	flex: 4 4 calc(100% / 6 * 4 - 2em);
}

.six-column .grid_column.five{
	flex: 5 5 calc(100% / 6 * 5 - 2em);
}


/*Eight Column*/

.eight-column .grid_column.one {
	flex: 1 1 calc(100% / 8 - 2em);
}

.eight-column .grid_column.two {
	flex: 1 1 calc(100% / 8 * 2 - 2em);
}

.eight-column .grid_column.three {
	flex: 1 1 calc(100% / 8 * 3 - 2em);
}

.eight-column .grid_column.four {
	flex: 1 1 calc(100% / 8 * 4 - 2em);
}

.eight-column .grid_column.five {
	flex: 1 1 calc(100% / 8 * 5 - 2em);
}

.eight-column .grid_column.six {
	flex: 1 1 calc(100% / 8 * 6 - 2em);
}

.eight-column .grid_column.seven {
	flex: 1 1 calc(100% / 8 * 7 - 2em);
}