:root {
	--ibm-color-blue-10: #c0e6ff;
	--ibm-color-blue-20: #7cc7ff;
	--ibm-color-blue-30: #5aaafa;
	--ibm-color-blue-40: #5596e6;
	--ibm-color-blue-50: #4178be;
	--ibm-color-blue-60: #325c80;
	--ibm-color-blue-70: #264a60;
	--ibm-color-blue-80: #1d3649;
	--ibm-color-blue-90: #152935;
	--ibm-color-blue-100: #010205;

	--ibm-color-green-10: #c8f08f;
	--ibm-color-green-20: #b4e051;
	--ibm-color-green-30: #8cd211;
	--ibm-color-green-40: #5aa700;
	--ibm-color-green-50: #4b8400;
	--ibm-color-green-60: #2d660a;
	--ibm-color-green-70: #144d14;
	--ibm-color-green-80: #0a3c02;
	--ibm-color-green-90: #0c2808;
	--ibm-color-green-100: #010200;

	--ibm-color-teal-10: #a7fae6;
	--ibm-color-teal-20: #6eedd8;
	--ibm-color-teal-30: #41d6c3;
	--ibm-color-teal-40: #00b4a0;
	--ibm-color-teal-50: #008571;
	--ibm-color-teal-60: #006d5d;
	--ibm-color-teal-70: #005448;
	--ibm-color-teal-80: #003c32;
	--ibm-color-teal-90: #012b22;
	--ibm-color-teal-100: #000202;

	--ibm-color-purple-10: #eed2ff;
	--ibm-color-purple-20: #d7aaff;
	--ibm-color-purple-30: #ba8ff7;
	--ibm-color-purple-40: #af6ee8;
	--ibm-color-purple-50: #9855d4;
	--ibm-color-purple-60: #734098;
	--ibm-color-purple-70: #562f72;
	--ibm-color-purple-80: #412356;
	--ibm-color-purple-90: #311a41;
	--ibm-color-purple-100: #030103;

	--ibm-color-magenta-10: #ffd2ff;
	--ibm-color-magenta-20: #ff9eee;
	--ibm-color-magenta-30: #ff71d4;
	--ibm-color-magenta-40: #ff3ca0;
	--ibm-color-magenta-50: #db2780;
	--ibm-color-magenta-60: #a6266e;
	--ibm-color-magenta-70: #7c1c58;
	--ibm-color-magenta-80: #601146;
	--ibm-color-magenta-90: #3a0b2e;
	--ibm-color-magenta-100: #040102;

	--ibm-color-red-10: #ffd2dd;
	--ibm-color-red-20: #ffa5b4;
	--ibm-color-red-30: #ff7d87;
	--ibm-color-red-40: #ff5050;
	--ibm-color-red-50: #e71d32;
	--ibm-color-red-60: #ad1625;
	--ibm-color-red-70: #8c101c;
	--ibm-color-red-80: #6e0a1e;
	--ibm-color-red-90: #4c0a17;
	--ibm-color-red-100: #040001;

	--ibm-color-orange-10: #ffd4a0;
	--ibm-color-orange-20: #ffa573;
	--ibm-color-orange-30: #ff7832;
	--ibm-color-orange-40: #ff5003;
	--ibm-color-orange-50: #d74108;
	--ibm-color-orange-60: #a53725;
	--ibm-color-orange-70: #872a0f;
	--ibm-color-orange-80: #6d120f;
	--ibm-color-orange-90: #43100b;
	--ibm-color-orange-100: #030100;

	--ibm-color-yellow-10: #fde876;
	--ibm-color-yellow-20: #fdd600;
	--ibm-color-yellow-30: #efc100;
	--ibm-color-yellow-40: #be9b00;
	--ibm-color-yellow-50: #8c7300;
	--ibm-color-yellow-60: #735f00;
	--ibm-color-yellow-70: #574a00;
	--ibm-color-yellow-80: #3c3200;
	--ibm-color-yellow-90: #281e00;
	--ibm-color-yellow-100: #020100;

	--ibm-color-gray-10: #e0e0e0;
	--ibm-color-gray-20: #c7c7c7;
	--ibm-color-gray-30: #aeaeae;
	--ibm-color-gray-40: #959595;
	--ibm-color-gray-50: #777677;
	--ibm-color-gray-60: #5a5a5a;
	--ibm-color-gray-70: #464646;
	--ibm-color-gray-80: #323232;
	--ibm-color-gray-90: #121212;
	--ibm-color-gray-100: #000;

	--ibm-color-coolgray-10: #dfe9e9;
	--ibm-color-coolgray-20: #c8d2d2;
	--ibm-color-coolgray-30: #aeb8b8;
	--ibm-color-coolgray-40: #959f9f;
	--ibm-color-coolgray-50: #6d7777;
	--ibm-color-coolgray-60: #5a6464;
	--ibm-color-coolgray-70: #3c4646;
	--ibm-color-coolgray-80: #323c3c;
	--ibm-color-coolgray-90: #0d1111;
	--ibm-color-coolgray-100: #000203;

	--ibm-color-warmgray-10: #e9e0e0;
	--ibm-color-warmgray-20: #d0c7c7;
	--ibm-color-warmgray-30: #b8aeae;
	--ibm-color-warmgray-40: #9e9494;
	--ibm-color-warmgray-50: #7d7373;
	--ibm-color-warmgray-60: #645a5a;
	--ibm-color-warmgray-70: #504646;
	--ibm-color-warmgray-80: #3c3232;
	--ibm-color-warmgray-90: #1a1314;
	--ibm-color-warmgray-100: #030000;

	--ibm-color-neutralwhite-10: #fdfdfd;
	--ibm-color-neutralwhite-20: #f9f9f9;
	--ibm-color-neutralwhite-30: #f4f4f4;
	--ibm-color-neutralwhite-40: #ececec;

	--ibm-color-coolwhite-10: #fbfcfc;
	--ibm-color-coolwhite-20: #f9f9fb;
	--ibm-color-coolwhite-30: #f0f2f4;
	--ibm-color-coolwhite-40: #ecf2f2;

	--ibm-color-warmwhite-10: #fdfbfb;
	--ibm-color-warmwhite-20: #fdfbfb;
	--ibm-color-warmwhite-30: #f7f5f5;
	--ibm-color-warmwhite-40: #f2eeee;

	--ibm-color-white: #fff;

	--ibm-color-black: #000;
}