.capped-layout{
	display: flex;
	flex-flow: column nowrap;
  /*min-height: 100%;*/
}
.capped-layout_cap{
  flex: 0 0 auto;
}
.capped-layout_body{
  flex: 1 1 auto;
  overflow: auto;
}

.bookend-layout{
	display: flex;
	flex-flow: row nowrap;
  min-height: 100%;
}

.bookend-layout_bookend{
  flex: 0 0 auto;
}

.bookend-layout_body{
  flex: 1 1 auto;
  overflow: auto;
}

.layout_section {
  max-width: 100%;
  padding: 2.25rem 2.5rem;
}