.list_unordered {
	list-style: none;
	padding: 0;
	max-width: 36rem;
}

.list_unordered li{
	font-weight: 400;
	font-size: 0.875rem;
	font-weight: 300;
	margin-bottom: var(--type-margin-bottom);
	line-height: 1.5;
}

.list_unordered li::before {
	content: "";
	position: absolute;
	transform: translate(-10px, 2px);
	top: .5em;
	background: currentcolor;
	height: 2px;
	width: 2px;
	border-radius: 100%;
}

.list_unordered.compact li {
	margin-bottom: 0;
}

.list_ordered {
	list-style: none;
	margin: 0 0 0 -.5rem;
	padding: 0;
	counter-reset: list;
	max-width: 36rem;
}

.list_ordered li{
	margin: 0 0 1rem;
	padding: 0 0 0 .5rem;
	font-weight: 300;
	font-size: 0.875rem;
}

.list_ordered li::before {
	counter-increment: list;
	content: counter(list) ".";
	position: absolute;
	right: 100%;
	border-radius: 100%;
}

.list_ordered.compact li {
	margin-bottom: 0;
}

.list_definition_list {

}

.list_definition_list dt{

}

.list_definition_list dd{

}