.rail {
	background: #fff;
	border-left: 1px solid #efefef;
}
.rail_section {
	max-width: 14rem;
	margin: 2rem 2rem 0 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #e6e8ea;
}
.rail_title {
	font-size: .875rem;
	font-weight: var(--font-weight-bold);
	margin: 0 0 1rem;
}
.rail_section p {
	margin: 0;
}