.table_basic-container {
  max-width: 100%;
  overflow-x: scroll;
}

.table_basic {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #f0f0f2;
}

.table_basic tr{

}

.table_basic thead {
  color: green;
  border-bottom: 4px solid;
}

.table_basic thead tr{

}

.table_basic th{
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  padding: .5rem;
}

.table_basic tbody {

}

.table_basic tbody tr {

}

.table_basic tbody tr:nth-child(even) {
  background-color: var(--ibm-color-neutralwhite-40);
}

.table_basic tbody td{
  font-size: .875rem;
  font-weight: 300;
  text-align: left;
  padding: .75rem .5rem;
  white-space: nowrap;
}

.table_basic tbody td + td {
  border-left: 1px solid var(--ibm-color-blue-80);
}

 

.table_basic tfoot{

}

.table_basic tfoot tr{

}

.table_basic tfoot td{

}



.table {
  border-collapse: collapse;
  width: 100%;
  border-top: 1px solid #f0f0f2;
}

.table_head {
  font-weight: bold;
  text-align: left;
}

.table_head .table_heading {
  padding: 0.5rem 0 0.5rem 1rem;
}

.table_data {
  padding: 0.5rem 0 0.5rem 1rem;
}

.table_row {
  border-top: 1px solid #D3D9DD;
  transition: color 0.15s ease, background-color 0.3s ease;
}

.table_body .table_row:hover {
  background-color: #0596D5;
  /*color: var(--color-background-10);*/
}

.table.zebra-striped .table_row:nth-child(even) {
  background-color: rgba(0,180,202, .1);
  background-color: #eff4f5;
}

.table_heading {
  padding: 1em;
}

.table_body {
  border-bottom: 1px solid #f0f0f2;
}

.table_body .table_row {
  border-top: 1px solid #f0f0f2;
}

.table_body .table_row:hover {
  background-color: #eff4f5;
}

.table_data {
  padding: 1em;
  vertical-align: top;
}

.table-foot {

}

.table_foot .table_row {
  
}

.table_column {

}

.table_column-group {

}