.tag-list {
	list-style: none;
	padding: 0;
}

.tag-list_tag {
	display: block;
	font-size: .875rem;
	margin-bottom: .25rem;
}

.tag-list_tag:hover .tag-cloud_name{
	cursor: pointer;
	text-decoration: underline;
}

.tag-cloud_name {
	color: var(--ibm-color-blue-50);
	font-weight: 700;
}

.tag-cloud_count {
	color: var(--ibm-color-coolgray-50);
	font-weight: 400;
}
