:root {
	--dark-color: var(--ibm-color-white);
	--dark-background: var(--ibm-color-blue-90);

	--light-color: var(--ibm-color-blue-70);
	--light-background: var(--ibm-color-neutralwhite-40);
}


.theme_dark {
	color: var(--dark-color);
	background-color: var(--dark-background);
}

.theme_light {
	color: var(--light-color);
	background-color: var(--light-background);
}


.bg_white {
	background-color: #fff;
}
.bg_light-tint {
	background-color: #f9f9fb;
}
.bg_light {
	background-color: var(--light-background);
}

.bg_dark {
	background-color: var(--dark-background);
}
.bg_black {
	background-color: #000;
}