.tree-nav {
	margin: 1.75rem 0;
	padding: 0;
	list-style: none;
	font-weight: 500;
}

.tree-nav .tree-nav {
	margin: 0;
	font-weight: 300;
}

.tree-nav_item {
	padding: 0;
}

.tree-nav_link {
	display: block;
	padding: .5rem 4rem;
	width: 100%;
	transition: background-color .2s ease;
	font-size: .875rem;
}

.tree-nav_link.current {

}

.tree-nav_link.disabled {
	opacity: .5;
	cursor: not-allowed;
}

.tree-nav .tree-nav .tree-nav_link {
	padding-left: 4.5rem;
}

/*Dark Themes*/

.theme_dark,
.theme_light .theme_dark {

	& .tree-nav_link:not(.disabled):hover {
		box-shadow: inset 8px 0 0 0 var(--ibm-color-blue-30);
	}

	& .tree-nav_link.current {
		background-color: var(--ibm-color-blue-80);
		box-shadow: inset 8px 0 0 0 var(--ibm-color-blue-30);
	}

}

/*Light Themes*/

.theme_light,
.theme_light .theme_dark .theme_light {

	& .tree-nav_link:not(.disabled):hover {
		box-shadow: inset 8px 0 0 0 var(--ibm-color-blue-30);
	}

	& .tree-nav_link.current {
		background-color: var(--ibm-color-coolwhite-30);
		box-shadow: inset 8px 0 0 0 var(--ibm-color-blue-30);
	}

}